.comment-input-container {
    display: flex;
    flex-direction: column;
    width: auto;
    border-radius: 8px;
}

.comment-input-container summary {
    font-size: 1.3rem;
}

.comment-input-container details {
    font-size: 1rem;
    margin-bottom: 2rem;
}

.comment-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.comment-input {
    flex: 1;
    padding: 0.5rem 0.75rem;
    border-radius: 6px;
    font-size: 1rem;
    background-color: #f1ebdd;
    color: #112540;
}

.submit-btn {
    padding: 0.5rem 1rem;
    border-radius: 6px;
    border: none;
    background: #8296b7;
    color: #112540;
    cursor: pointer;
    width: 15%;
    height: 3rem;
}

.sign-in-button {
    margin-right: 1rem;
    aspect-ratio: 1/1;
}

.sign-in-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 3rem;
}

.form-with-icon {
    display: flex;
    flex-direction: row;
}

.user-icon {
    width: 4rem;
    border-radius: 50%;
}

.user-info {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
}

.user-container {
    display: flex;
    gap: 2rem;
}

.logout-btn {
    margin: 2rem;
}

@media (max-width: 768px) {
    .submit-btn {
        width: 100%;
    }
}