.title-div {
    text-align: left;
    margin-top: 10rem;
    margin-bottom: 10rem;
    white-space: normal;
}

.title-div h1 {
    text-align: center;
}

.title-div h3 {
    text-align: left;
}

.title-div p {
    text-wrap-mode: wrap;
}

.section {
    margin-top: 3rem;
}

.header-img {
    display: block;
    margin: 1rem auto;
    max-width: 100%;
    width: 30rem;
}

.icon-list {
    list-style: none;
}

.icon-list li {
    display: inline-block;
    margin-right: 1rem;
}

.about-me-image {
    width: 30rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.dropdown-padding {
    padding-bottom: 2rem;
}

@media (max-width: 768px) {
    .title-div h1 {
        text-align: left;
    }

    .about-me-image {
        width: 23rem;
    }

    .header-img {
        width: 25rem;
        margin: 0rem;
    }
}