.title-div {
    text-align: left;
    margin-top: 10rem;
    margin-bottom: 10rem;
    white-space: normal;
}

.title-div h3 {
    text-align: left;
}

.title-div p {
    text-wrap-mode: wrap;
}

.section {
    margin-top: 3rem;
}

.header-img {
    margin: 1rem auto;
    height: auto;
    max-width: 100%;
}

.icon-list {
    list-style: none;
}

.icon-list li {
    display: inline-block;
    margin-right: 1rem;
}

.about-me-image {
    width: 30rem;
}

@media (max-width: 768px) {
    .header-img {
        width: 25rem;
    }
}