.title-div {
    text-align: left;
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.title-div h3 {
    text-align: left;
}

.section {
    margin-top: 3rem;
}

.header-img {
    display: block;
    margin: 1rem auto;
    height: auto;
    max-width: 100%;
}

.icon-list {
    list-style: none;
}

.icon-list li {
    display: inline-block;
    margin-right: 1rem;
}