.form-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-wrap: wrap;
    padding-top: 10rem;
    padding-bottom: 40rem;
    margin-bottom: 10rem;
}

.form-inbox {
    height: 50rem;
}

.divider {
    display: block;
    margin: 3rem auto;
    max-width: 100%;
    width: 30rem;
}

.rules-list {
    display: block;
    text-align: left;
    padding-left: 25%;
    padding-right: 20%;
    padding-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.inbox-image {
    width: 30rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.form-text {
    font-size: 1.5rem;
}

@media (max-width: 1000px) {
    .form-div {
        padding-top: 7rem;
        padding-bottom: 0rem;
    }

    .form-inbox {
        height: 50rem;
    }

    .rules-list {
        padding-left: 20%;
    }

    .inbox-image {
        width: 20rem;
    }
}