#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.blog-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-size: cover;
  z-index: -1;
}