#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.acci-logo {
  width: 20rem;
  justify-content: center;
}

.title-style {
  font-weight: bold;
}

@media (max-width: 768px) {
  .acci-logo {
    width: 10rem;
  }

  .title-style {
    font-size: 3rem;
  }
}