.entire-footer {
    position: absolute;
    margin-top: 17rem;
    display: flex;
    justify-content: center;
    left: 10%;
    right: 10%;
    padding-bottom: 1rem;
}

.copyright-text {
    color: #8296b7;
    left: 15vw;
}

.social-media {
    list-style-type: none;
    margin-left: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.social-media-link {
    display: inline-block;
    align-items: center;
    justify-content: center;
}

.newgrounds-logo {
    font-family: Newgrounds;
    font-size: 1.6rem;
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.1rem;
}

@media (max-width: 975px) {
    .entire-footer {
        margin-top: 12rem;
    }
    
    .social-media {
        position: absolute;
        margin-top: 5rem;
        margin-left: 0rem;
        text-wrap-mode: nowrap;
    }

    .copyright-text {
        margin-left: 2rem;
    }
}