.navbar {
    position: absolute;
    top: 3rem;
    right: 20rem;
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar a {
    color: #f1ebdd;
}

.navbar a:hover {
    color: #f9bec2;
}

.navbar-single-link {
    display: inline;
    position: relative;
    margin-right: 2rem;
}

.navbar-single-link:hover .navbar-dropdown {
    display: block;
}

.hamburger {
  display: none;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: #f1ebdd;
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  z-index: 100;
  width: 1rem;
  justify-content: center;
}

.hamburger:hover {
    background-color: transparent;
    color: #f9bec2;
}

@media (max-width: 1300px) {
    .hamburger {
        display: block;
    }

    .navbar {
        display: none;
        position: absolute;
        top: 7rem;
        align-items: center;
        flex-direction: column;
        gap: 0.5rem;
        left: 5vw;
        right: 5vw;
    }

    .navbar.open {
        display: flex;
        background-color: #204372;
        justify-content: center;
        border-radius: 10px;
    }

    .navbar-single-link {
        padding: 0.5rem;
        text-align: center;
    }
}